@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  background-color: #999;
  font: normal 100%/1.3;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  width: 100%;
}

header {
  margin: 0;
  width: 100%;
}

h1 {
  font-family: "Boogaloo", cursive;
  text-align: center;
  margin: 0;
  color: #48944a;
  background-color: #ccc;
  font-size: 3rem;
  padding: .5em;
}

a,
h2 {
  font-family: "Montserrat", sans-serif;
  color: #a9e176;
}

h2 {
  margin-top: 0;
}

nav {
  display: inline-block;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

nav ul {
  background-color: #333;
  list-style-type: none;
  padding: 0;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

nav li {
  margin: 0;
  padding: .7em .3em;
  overflow: hidden;
  float: left;
  text-align: left;
}

ul li a {
  color: #a9e176;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  padding-right: .1em;
}

li:not(:last-child) {
  border-right: 1px solid #777;
}

ul li a:hover {
  background-color: #444;
}

ul li a:active {
  background-color: #ccc;
  color: #333;
}

figure {
  margin: 0;
}

figure img {
  width: 100%;
  margin: 0;
  padding: 2.5em 0 0 0;
}

figcaption .btn-banner {
  color: #fff;
  background-color: #333;
  display: inline-block;
  padding: 0.4em 0.75em 0.3em;
  border-width: 3px;
  border-radius: 8px;
  padding: 0.4em;
  text-decoration: none;
  border: 1px solid #8df232;
  transform: translate(170px, -60px);
  box-shadow: 3px 3px 3px #888;
  z-index: 900;
}

.btn-banner:hover {
  color: #333;
  background-color: #a9e176;
  border-width: 1px;
  border-color: #333;
}

section h2 {
  padding: .5em .8em;
  border-radius: .5px;
  background-color: #333;
}

section p {
  color: #333;
  padding: .3em .7em;
  font-family: "Montserrat", sans-serif;
}

.menu {
  margin: 0;
  padding: 0;
}

.menu ul {
  padding: 0;
}

.menu li {
  list-style-type: none;
  overflow: hidden;
  padding: .5em 1.5em;
  position: relative;
  font-family: "Montserrat", sans-serif;
  color: #8df232;
  border: none;
}

li label {
  float: left;
  padding-right: .8em;
  background-color: #999;
}

li span {
  float: right;
  padding-left: .8em;
  background-color: #999;
}

.dots {
  border-top: dotted 2px #ccc;
  position: absolute;
  top: 1em;
  right: 2em;
  width: 65%;
  z-index: -1;
}

.nutrition img {
  width: 100%;
  display: block;
}

footer {
  font-family: "Montserrat", sans-serif;
  padding: .5em;
  background-color: #333;
  text-align: center;
  color: #a9e176;
}

.contact {
  text-align: center;
}

.contact p {
  color: #fff;
}

.medium-map {
  display: none;
}

p.logo {
  display: none;
}

@media only screen and (min-width: 25em) {

  figcaption .btn-banner {
    transform: translate(240px, -70px);
  }

  nav li {
    padding: .9em .94em;
  }

  figure img {
    padding: 3em 0 0 0;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  p.logo {
    display: block;
    float: right;
    color: #fff;
    font-family: "Boogaloo", cursive;
    font-size: 2.2rem;
    transform: translate(-20px, -98px);
  }

  figcaption .btn-banner {
    font-size: 1.5rem;
    transform: translate(200px, -90px);
  }

  section p {
    padding: .5em 2em;
  }

  .dots {
    width: 85%;
  }

  .nutrition img {
    width: 80%;
    padding: 1em;
    transform: translate(60px, 0);
  }

  .small-map {
    display: none;
  }

  .medium-map {
    display: block;
    transform: translateX(4px);
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  nav li {
    padding: 1.2em 2em;
  }

  p.logo {
    font-size: 2.5rem;
    transform: translate(-20px, -128px);
  }

  figure img {
    padding: 3.9em 0 0 0;
  }

  figcaption .btn-banner {
    transform: translate(365px, -120px);
  }

  .menu {
    overflow: hidden;
  }

  .menu p {
    float: left;
    padding: .5em 15em;
    transform: translate(-250px, 115px);
  }

  .menu ul {
    float: right;
    transform: translate(-30px, -100px);
    width: 50%;
  }

  li label {
    transform: translateX(-25px);
  }

  .staff p {
    padding: .5em 4em;
  }

  .nutrition p {
    padding: .5em 4em;
  }

  .nutrition img {
    width: 60%;
    transform: translate(190px, 0);
  }

  .medium-map {
    display: none;
  }

  section h2 {
    padding-left: 2.6em;
  }

  .contact-h2 {
    padding-left: 1em;
  }
}
