@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  background-color: #999;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  width: 100%;
}

header {
  margin: 0;
  width: 100%;
}

a,
h2 {
  font-family: "Montserrat", sans-serif;
  color: #a9e176;
}

nav {
  display: inline-block;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

nav ul {
  background-color: #333;
  list-style-type: none;
  padding: 0;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

nav li {
  margin: 0;
  padding: .7em .3em;
  overflow: hidden;
  float: left;
  text-align: left;
}

ul li a {
  color: #a9e176;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  transition: 0.3s;
	padding-right: .1em;
}

li:not(:last-child) {
	border-right: 1px solid #777;
}

ul li a:hover {
  background-color: #444;
}

figure {
  margin: 0;
}

figure img {
  width: 100%;
  margin: 0;
  padding: 2.5em 0 0 0;
}

figcaption .btn-banner {
  color: #fff;
  background-color: #333;
  display: inline-block;
  padding: 0.4em 0.75em 0.3em;
  border-width: 3px;
  border-radius: 8px;
  padding: 0.4em;
  text-decoration: none;
  border: 1px solid #8df232;
  transform: translate(170px, -60px);
  box-shadow: 3px 3px 3px #888;
  z-index: 900;
}

.btn-banner:hover {
  color: #333;
  background-color: #a9e176;
  border-width: 1px;
  border-color: #333;
}

section h2 {
  padding: .5em .8em;
  border-radius: .5px;
  background-color: #333;
}

section p {
  color: #333;
	padding: .3em .7em;
	font-family: "Montserrat", sans-serif;
}

.menu {
  margin: 0;
  padding: 0;
}

.menu ul {
	padding: 0;
}

.menu li {
	list-style-type: none;
	overflow: hidden;
	padding: .5em 1.5em;
	position: relative;
	font-family: "Montserrat", sans-serif;
	color: #8df232;
}

li label {
	float: left;
	padding-right: .8em;
	background-color: #999;
}

li span {
	float: right;
	padding-left: .8em;
	background-color: #999;
}

.dots {
	border-top: dotted 2px #ccc;
	position: absolute;
	top: 1em;
	right: 2em;
	width: 65%;
	z-index: -1;
}

.nutrition img {
	width: 100%;
	display: block;
}

footer {
	font-family: "Montserrat", sans-serif;
	padding: .5em;
	background-color: #333;
	text-align: center;
	color: #a9e176;
}

.contact {
  text-align: center;
}

.contact p {
	color: #fff;
}
